html,
body {
  padding: 0;
  margin: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 113px;
  min-height: 113px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.header .row {
  margin: 0;
}

.header .header-menu {
  background-color: #98c93c;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  outline: none;
}

.header .header-wrapper {
  background-color: #262724;
  height: 90px;
}

.header .header-wrapper .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .header-wrapper .logo img {
  float: right;
  margin-right: 40px;
}

.header .header-menu-link {
  margin-left: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .header-menu-link a {
  color: #000;
  text-decoration: none;
}

.header .header-menu-link li {
  padding: 2px 5px;
  display: inline-block;
  list-style-type: none;
}

.header .header-menu-link li:hover {
  background-color: #b4ee47;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  background-color: #98c93c;
  color: #000;
  border: none;
  padding: 2px 5px;
  outline: none;
}

.dropdown .submenu::after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 5px;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  padding: 5px 10px;
  background-color: #f1f1f1;
  min-width: 220px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown .dropdown-content li {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 13px;
  border-bottom: 1px solid #e0dddd;
  padding: 2px 5px;
}

.dropdown .dropdown-content li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #b4ee47;
}

.header-search .search {
  background-color: #424242;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 4px 15px 4px 33px;
  font-size: 12px;
  line-height: 1.43;
  letter-spacing: 0.6px;
  outline: none;
  color: #fff;
  background-size: 16px;
  height: 24px;
}

.header-search i.fa {
  line-height: 23px;
  margin-right: -26px;
  z-index: 1;
}

.header-search .search:focus {
  background-color: #fff;
}

.nav-item a:hover {
  color: #b4ee47;
}

.nav-item a:focus {
  color: #b4ee47;
}

.header-center-menu {
  height: 50px;
}

.header-center-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 12px;
  height: 50px;
  letter-spacing: 0.7px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-center-menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.header-center-menu li:hover {
  background-color: white;
}

.header-center-menu li:last-child {
  background-color: red;
}

.header-center-menu li:last-child:hover {
  background-color: white;
}

.header-center-menu .phone,
.header-center-menu .electronics,
.header-center-menu .gadget,
.header-center-menu .accessory,
.header-center-menu .apple,
.header-center-menu .neffos,
.header-center-menu .stocks {
  width: 738px;
  padding: 0;
  margin-top: 8px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 11px #d3ced2;
          box-shadow: 0px 2px 11px #d3ced2;
}

.header-center-menu .phone h6,
.header-center-menu .electronics h6,
.header-center-menu .gadget h6,
.header-center-menu .accessory h6,
.header-center-menu .apple h6,
.header-center-menu .neffos h6,
.header-center-menu .stocks h6 {
  margin: 10px 0px;
}

.header-center-menu .phone a,
.header-center-menu .electronics a,
.header-center-menu .gadget a,
.header-center-menu .accessory a,
.header-center-menu .apple a,
.header-center-menu .neffos a,
.header-center-menu .stocks a {
  color: #000;
  font-weight: 100;
  font-size: 12px;
  padding: 0;
}

.header-center-menu .phone a:first-child,
.header-center-menu .electronics a:first-child,
.header-center-menu .gadget a:first-child,
.header-center-menu .accessory a:first-child,
.header-center-menu .apple a:first-child,
.header-center-menu .neffos a:first-child,
.header-center-menu .stocks a:first-child {
  font-weight: 700;
  font-size: 16px;
}

.header-center-menu .phone a:hover,
.header-center-menu .electronics a:hover,
.header-center-menu .gadget a:hover,
.header-center-menu .accessory a:hover,
.header-center-menu .apple a:hover,
.header-center-menu .neffos a:hover,
.header-center-menu .stocks a:hover {
  color: #b4ee47;
}

.header-center-menu .phone {
  margin-left: -5px;
}

.header-center-menu .electronics {
  margin-left: -115px;
}

.header-center-menu .gadget {
  margin-left: -238px;
}

.header-center-menu .accessory {
  margin-left: -336px;
}

.header-center-menu .apple {
  margin-left: -450px;
}

.header-center-menu .neffos {
  margin-left: -530px;
}

.header-center-menu .stocks {
  margin-left: -670px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-weight: 900;
}

.header-right .phone-logo {
  margin-left: -40px;
  margin-right: 5px;
  height: 15px;
  width: 15px;
}

.header-right .btn-store {
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-right .btn-store img {
  width: 30px;
  height: 25px;
}

.container-main .carousel-inner {
  width: 1400px;
  height: 450px;
  margin: 0 auto;
}

.container-main .brands {
  font-weight: 700;
  letter-spacing: 0.7px;
}

.container-main .brands-icon img {
  width: 60px;
  height: 50px;
}

.container-main .brand-front {
  position: absolute;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container-main .brand-front:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
}

.stocks img {
  width: 200px;
  height: 200px;
}

.stocks-btn {
  position: absolute;
  left: 55px;
  bottom: 20px;
  border-radius: 20px;
  border: 2px solid #6c1183;
  background-color: #6c1183;
  height: 25px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  padding: 2 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.stocks-btn:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.hot-offers {
  background-color: #e9e9e9;
}

.hot-offers .offers-img-wrapper {
  min-height: 300px;
}

.hot-offers .offers-img-wrapper .offers-img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-height: 300px;
  max-width: 200px;
}

.hot-offers .offers-img-wrapper .offers-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hot-offers .radio-green {
  background-color: #32cd32;
  width: 20px;
  height: 20px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  display: inline-block;
  margin-left: 43%;
  position: relative;
  cursor: pointer;
}

.hot-offers .radio-green::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: -6px;
  left: -6px;
  border: 2px solid #98c93c;
  border-radius: 100px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.hot-offers .radio-green:active::before {
  opacity: 1;
}

.hot-offers .radio-black {
  background-color: #000;
  width: 20px;
  height: 20px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  margin-left: 15px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hot-offers .radio-black::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: -6px;
  left: -6px;
  border: 2px solid #98c93c;
  border-radius: 100px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.hot-offers .radio-black:active::before {
  opacity: 1;
}

.new-earn .new-earn-item {
  min-height: 305px;
  background-color: #fff;
}

.new-earn .new-earn-item:hover {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.new-earn .item-image img {
  max-width: 200px;
  max-height: 300px;
}

.new-earn .cheaper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
  max-height: 300px;
}

.new-earn .cheaper-info a {
  color: #000;
  text-decoration: none;
  line-height: 1.9em;
}

.new-earn .cheaper-info a :hover {
  color: #b4ee47;
}

.new-earn .cheaper-info .btn {
  padding: 16px 28px;
  border: 2px solid #98c93c;
  color: #fff;
  background-color: #98c93c;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 0;
}

.new-earn .cheaper-info .btn:hover {
  color: #fff;
}

.new-earn .title, .new-earn .btn {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.new-earn .title span, .new-earn .btn span {
  font-size: 16px;
}

.new-earn .item-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.new-earn .item-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.new-earn .new-earn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.in-stock {
  background-color: #dfdfdf;
  max-height: 550px;
}

.in-stock .in-stock-item {
  max-height: 400px;
}

.in-stock .stock-link {
  color: #98c93c;
}

.in-stock .stock-link::after {
  content: "\f107";
  font-family: "FontAwesome";
}

.in-stock .in-stock-img {
  height: 220px;
  width: 180px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.in-stock .in-stock-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.in-stock a {
  text-decoration: none;
}

.in-stock .title {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.in-stock .title:hover {
  color: #98c93c;
}

.in-stock-item-elem {
  height: 150px;
  background-color: #fff;
}

.in-stock-item-elem .elem-info {
  font-size: 11px;
  padding-top: 10px;
  font-weight: 700;
}

.in-stock-item-elem .elem-info p {
  padding: 3px;
  margin: 0px;
}

.in-stock-item-elem .elem-info p:hover {
  color: #98c93c;
}

.in-stock-item-elem .elem-info .btn-stock {
  margin-top: 5px;
  width: 100%;
  font-size: 11px;
  padding: 1px 3px;
  width: auto;
}

.in-stock-item-elem .elem-img-container {
  height: 100%;
}

.in-stock-item-elem .elem-img-container .elem-img {
  width: 90px;
  margin-top: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.in-stock-item-elem .elem-img-container .elem-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.adv-item {
  min-height: 300px;
}

.adv-item .adv-icon {
  -webkit-transition: .3s;
  transition: .3s;
}

.adv-item .adv-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.adv-item p {
  font-weight: 600;
}

.adv-item p:hover {
  color: #98c93c;
}

.container-footer .mailing {
  height: 270px;
  background: #98c93c;
}

.container-footer .mailing .mail-1 {
  font-size: 22px;
}

.container-footer .mailing .email {
  display: block;
  width: 360px;
  height: 40px;
  margin: auto;
  background: #fff;
  color: #71736e;
  border: none;
  border: 1px solid #bfbfbf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}

.container-footer .mailing .email-btn {
  width: 255px;
  height: 40px;
  text-decoration: none;
  padding: 0;
  border: none;
  background: #262724;
  border-radius: 0;
  overflow: hidden;
  outline: none;
}

.container-footer .mailing .email-btn:hover {
  color: #000;
  background-color: #fff;
}

.container-footer .main-line {
  height: 24px;
  background-color: #3b3b3b;
  font-size: 12px;
  padding-left: 150px;
}

.container-footer .aside {
  background-color: #222222;
  height: 350px;
  color: #98c93c;
}

.container-footer .aside li {
  list-style-type: none;
}

.container-footer .aside li a {
  text-decoration: none;
  color: white;
}

.container-footer .aside li a:hover {
  color: #98c93c;
}

.container-footer .footer-description {
  font-size: 16px;
  font-weight: 100;
}

.container-footer .social {
  font-size: 25px;
}

.container-footer .social .line {
  border-right: 2px solid white;
}

.container-footer .all-right {
  height: 24px;
  background-color: black;
  color: white;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */